@{
    ViewData["Title"] = "Начална страница";
}

<h1>Добре дошли в нашия сайт за климатични инсталации</h1>
<p>Тук ще откриете информация за най-добрите климатици и професионални услуги по инсталация.</p>